<%- partial('_partial/head') %>

<body class="left-sidebar">
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Content -->
    <div id="content">
      <div id="content-inner">
	<%- body %>
      </div>
      <!-- Sidebar -->
      <div id="sidebar">
	<%- partial('_partial/sidebar') %>
      </div>
    </div>
    <%- partial('_partial/after_footer') %>
  </body>
</html>
